
@section MoreScripts {
    <link href="~/lib/datatables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#jsTblPerform').DataTable({
                ordering: true,
                paging: true,
                searching: true,
                info: false,
            });
        });
    </script>

}

@model DataRowCollection
<h2>Event</h2>

@if (TempData["Message"] != null)
{
    <div class="alert alert-@TempData["MsgType"]">
        @TempData["Message"]
    </div>
}

<div>
    <table id="jsTblPerform" class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Venue</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Category</th>
                <th>Status</th>
                
                @if (User.IsInRole("Admin"))
                {
                    <th scope="col">Action</th>
                }
                else
                {
                    <th scope="col">Action</th>
                }
            </tr>
        </thead>

        <tbody>
            @foreach (DataRow row in Model)
            {
            <tr>
                <td>@row["Title"]</td>
                <td>@row["Description"]</td>
                <td>@row["Venue"]</td>
                <td>@String.Format("{0:yyyy-MM-dd HH:mm}", row["StartDate"])</td>
                <td>@String.Format("{0:yyyy-MM-dd HH:mm}", row["EndDate"])</td>
                <td>@row["Category"]</td>
                @if ((DateTime)@row["StartDate"] > DateTime.Now && (DateTime)@row["EndDate"] < DateTime.Now)
                {
                    <td>Ongoing</td>
                }
                else if ((DateTime)@row["StartDate"] > DateTime.Now && (DateTime)@row["EndDate"] > DateTime.Now)
                {
                    <td>Upcoming</td>
                }
                else
                {
                    <td>Past</td>
                }

                @if (User.IsInRole("Admin"))
                {
                    <td>
                        <a asp-controller="Event"
                           asp-action="Update"
                           asp-route-id="@row["Id"]">
                            Update
                        </a> |
                        <a asp-controller="Event"
                           asp-action="Delete"
                           asp-route-id="@row["Id"]"
                           onclick="return confirm('Delete Event <@row["Title"]>')">
                            Delete
                        </a>
                    </td>
                }
                else
                {
                    <td>
                        <a asp-controller="Event"
                           asp-action="DownloadFile"
                           asp-route-id="@row["Id"]">
                            Download
                        </a> |
                        <a asp-controller="Event"
                           asp-action="Details"
                           asp-route-id="@row["Id"]">
                            Details
                        </a>
                    </td>
                }
            </tr>
            }
        </tbody>
    </table>
</div>
